.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: #2374E2;
  border-color: #2374E2;
}

.el-radio-button__inner {
  color: rgba(255, 255, 255, 0.4);
  background: rgba(24, 144, 255, 0.10);
  border-top: 1px solid #478dfc;
  border-bottom: 1px solid #478dfc;
  border-right: 1px solid #478dfc;
}

.el-radio-button:first-child .el-radio-button__inner {
  border-left: 1px solid #478dfc;
}
